{% extends 'layout_blog.html' %}

{% block title %}Acerca de mí{% endblock %}

{% block content %}

<h1 class="text-center mb-3">Acerca de MI</h1>

<div class="card">
    <div class="card-body" style="margin: 0 5em 0 5em">
        <p><h5>Datos personales:</h5></p>
        <p>Mi nombre completo es Jacqueline Dueñas Quispe y mi meta es ser una ingeniera de software.</p> 
        <p>La variedad de cosas que se puede crear con la programación es inmensa, y si eres una persona creativa podrás aprovechar aún más ese potencial. Y si encima lo que haces te gusta entonces es un ganar ganar. Es así como personalmente considero la programación.</p>
        <p><h5>Datos del proyecto:</h5></p>
        <p>Este proyecto consiste en crear blogs para que todos los usuarios que estén registrados lo puedan ver. Asi mismo se puede modificar y eliminar los blogs que hayas creado.</p>
        <p>Además posee un apartado de mensajería, el cual permite a todos los usuarios hablar en un chat como si fuese un grupo de alguna red social.</p>
        <p>Como se comenta al inicio, este proyecto también posee su logueo y registro de cuentas; por lo que es necesario poseer una para poder navegar por la aplicación web. Y esto conlleva a que puedas modificar tus datos, agregar una foto de perfil e incluso modificar tu contraseña.</p>
        <p>Todas las pestañas están autenticadas por la sesión del usuario y todos los formularios están validadas correctamente; como a su vez el control adecuado de los errores.</p>
        <p>También posee una página para el error 404 (página no encontrada). Sin embargo, únicamente funciona si el proyecto se encuentra en el estado de producción.</p>
    </div>
</div>

{% endblock %}