{% extends 'layout_blog.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<p class="text-center">¡Bienvenido(a) <b>{{user}}!</b></p>
<h1 class="text-center">BLOGS</h1>

<a class="btn btn-success w-100 my-3" href="{% url 'create_blog' %}" role="button">+ Crear nuevo blog</a>

{% if not blogs %}
<p class="text-center">No hay blogs aún</p>
{% endif %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for blog in blogs %}
    <div class="col">
        <div class="card">
            <img src="{{blog.imagen.url}}" class="card-img-top" height="300px">
            <div class="card-body">
                <h5 class="card-title">{{blog.titulo}}</h5>
                <p>{{blog.subtitulo}}</p>
                <div class="row">
                    <div class="col-md-4"><a href="{% url 'read_blog' blog.id %}">Seguir leyendo</a></div>
                    <div class="col-md-4 offset-md-4 text-end">Por: {{blog.autor}}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}